# temp file
backend/roadbook-api
run.sh
*.out
data
*.log
*.pid

# Cloudflare Worker
cloudflare/node_modules/
cloudflare/wrangler.log
.wrangler/
cloudflare/.wrangler/

# stupid mac
.DS_Store

# ai
GEMINI.md
CLAUDE.md
.coco
.gemini
.claude
